<header>

	<nav id="topNavbar" class="pink lighten-2">
		<div class="nav-wrapper">
			<a href="{{ baseUrl }}" class="brand-logo hide-on-small-only">MyLittleUnicornShop</a>
			<a href="#" data-activates="mobile-top-menu" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ baseUrl }}">Home</a></li>

				{% if session.username %}
					<li><a href="{{ baseUrl ~ 'index.php/account' }}">{{ session.username|title }}'s unicorn account</a></li>
				{% else %}
					<li><a href="{{ baseUrl ~ 'index.php/account' }}">Account</a></li>
				{% endif %}
				<li><a href="{{ baseUrl ~ 'index.php/shop/cart' }}">Cart</a></li>
				{% if session.username %}
					<li><a href="{{ baseUrl ~ 'index.php/auth/logout' }}">Log out</a></li>
				{% else %}
					<li><a href="{{ baseUrl ~ 'index.php/auth/login' }}">Log in / Signup</a></li>
				{% endif %}
			</ul>
			<ul class="side-nav right" id="mobile-top-menu">
				<li><a href="{{ baseUrl }}">Home</a></li>
				{% if session.username %}
					<li><a href="{{ baseUrl ~ 'index.php/account' }}">{{ session.username|title }}'s account</a></li>
				{% else %}
					<li><a href="{{ baseUrl ~ 'index.php/account' }}">Account</a></li>
				{% endif %}
				<li><a href="{{ baseUrl ~ 'index.php/shop/cart' }}">Cart</a></li>
				{% if session.username %}
					<li><a href="{{ baseUrl ~ 'index.php/auth/logout' }}">Log out</a></li>
				{% else %}
					<li><a href="{{ baseUrl ~ 'index.php/auth/login' }}">Log in / Signup</a></li>
				{% endif %}
				
				<div class="divider"></div>

				<li><a href="{{ baseUrl ~ 'index.php/shop/animals' }}">Animals</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/plushes' }}">Plushes</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/candyandpastry' }}">Candy and Pastry</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/papershop' }}">Papershop</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/clothes' }}">Clothes</a></li>
		        <li><a href="{{ baseUrl ~ 'index.php/shop/cart' }}"><i class="material-icons right">shopping_cart</i>Cart</a></li>
			</ul>
		</div>
	</nav>

	<div id="banner" class="pink lighten-4 widthMax hide-on-small-only">
		<div class="row widthMax noMarginBottom flexIt">
			<div class="col s1">
				
			</div>
			<div class="col s3">
				<img src="{{ baseUrl ~ 'img/mainLogoUnicornNarval.png' }}" class="widthMax"></img>
			</div>
			<div class="col s4">
				
			</div>
			<div class="col s3 valign-wrapper">
				<nav>
					<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search" class="jsAutocomplete" type="search" required>
							<label class="label-icon searchIconCorrectionHack" for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
				</nav>
				
			</div>
			<div class="col s1">
				
			</div>
		</div>
	</div>

	<nav id="mainNavbar" class="pink lighten-2 hide-on-small-only">
		<div class="nav-wrapper">
			<ul class="left">
				<li><a href="{{ baseUrl ~ 'index.php/shop/animals' }}" class="active">Animals</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/plushes' }}">Plushes</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/candyandpastry' }}">Candy and Pastry</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/papershop' }}">Papershop</a></li>
				<li><a href="{{ baseUrl ~ 'index.php/shop/clothes' }}">Clothes</a></li>
			</ul>
			<ul class="right smallPaddingRight">
		        <li class="miniCartMenu">
		        	<a href="{{ baseUrl ~ 'index.php/shop/cart' }}"><i class="material-icons right">shopping_cart</i>Cart</a>
    				{% include 'include/miniCart.twig' %}
		        </li>
			</ul>
		</div>
	</nav>
</header>

{% block jsblock %}
  <script type="text/javascript" src="{{ baseUrl ~ 'js/catalog.js' }}"></script>
{% endblock jsblock %}